<h3>Details Utilisateurs</h3>
<div>
    <div>
        <label><b>Nom : </b></label>{{agent.nom}}
    </div>
    <div>
        <label><b>Prenom : </b></label>{{agent.prenom}}
    </div>
    <div>
        <label><b>Age : </b></label>{{agent.age}}
    </div>
    <div>
        <label><b>telephone 1: </b></label>{{agent.telephone}}
    </div>
    <div>
        <label><b>Telephone 2: </b></label>{{agent.telephone1}}
    </div>
    <div>
        <label><b>EmailId : </b></label>{{agent.emailId}}
    </div>
    <div>
        <label><b>Adresse : </b></label>{{agent.adresse}}
    </div>
    <div>
        <label><b>Matricule : </b></label>{{agent.matricule}}
    </div>
    <div>
        <label><b>username: </b></label>{{agent.username}}
    </div>
    <div>
        <label><b>Password :</b></label>{{agent.password}}
    </div>
</div>

