<h3>Details Utilisateurs</h3>
<div>
    <div>
        <label><b>Type: </b></label>{{correspondant.type}}
    </div>
    <div>
        <label><b>Nom : </b></label>{{correspondant.nom}}
    </div>

    <div>
        <label><b>telephone : </b></label>{{correspondant.telephone}}
    </div>
    
    <div>
        <label><b>Adreesse E-mail : </b></label>{{correspondant.emailId}}
    </div>
    <div>
        <label><b>Adresse : </b></label>{{correspondant.adresse}}
    </div>
  
    
    <div>
        <label><b>Password :</b></label>{{correspondant.password}}
    </div>
</div>

