/* You can add global styles to this file, and also import other style files */

html,body{
    background-color: #f4f6f9;
}

.ellipsis {
    text-overflow:ellipsis;
    white-space :nowrap;
    overflow: hidden;

}

